*{
  margin: 0;
  padding:0
}
body{
background-color: #131212;
font-family: 'Open Sans', sans-serif;
}

/* start of index page */





/* menu hamburger navigation */
header {
border-bottom: rgba(49, 49, 49, 0.363) 1px solid;
position: fixed;
width: 100%;
z-index: 2;
top: 0px;
overflow: visible;
  background-color: #E5E5E5;
}

.header ul {
  float: right;
margin-top: 10px;
padding: 0;
list-style: none;
overflow: hidden;
list-style-type: none;
}


li {
display: inline-block;
list-style-type: none;
}

a {
color: #131313;
text-decoration: none;
}

.header .logo a:hover {
color: #5D576B;
}

.header li a {
display: block;
padding: 10px 10px 10px 25px;
text-decoration: none;
opacity: 1;
transition: all 0.3s ease;
}
.burger-btn{
  display: none;
}



/*-------Website Logo------*/
.header .logo {
display: block;
float: left;
color: #14213D;
font-size: 2em;
padding: 10px 20px;
text-decoration: none;
transition: ease-in 0.2s;
}

.header .logo:hover {
color: rgb(248, 47, 47);
}

/* Nav link animations */

.hoverhome {
  margin: 20px;
  padding: 0 20px;
  background-color: #E5E5E5;
}

.hoverhome a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
  -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  padding: 15px;
}

.hoverhome a:after {
	content: "";
	position: relative;
	height: 2px;
	background-color: tomato;
	width: 0;
	left: 50%;
	bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

a:hover {
	color: tomato;
}

a:hover:after {
	width: 100%;
}










/* Start of index main */
.hero{
color: white;
  display:block;
  text-align: left;
  padding: 200px 30px 0px 50px;
  margin-bottom: 200px;
  
}
.hero p {
  width: 60%;
  font-size: 1.2em;
}
/* report link */
.report a {
color:black;
font-weight: 600;
background-color: #FCA311;
padding: 10px;
border-radius: 4px;
}
.report{
margin-top: 40px;

}

/* screen animation */
.screenanimation2{
  background-color: yellow;
  width: 4em;
  height: 4em;
  animation: block2 4s infinite ease-in;
  
}

@keyframes block2 {

0% {
  transform: translate(10vw, 30vh);
}
25%{
  transform: translate(10vw,70vh)
}
50%{
  transform: translate(40vw,70vh)
}
75% {
  transform: translate(40vw,30vh)

}
100%{
  transform: translate(10vw,30vh)
}
}

.screen-animation{
  background-color: white;
  width: 4em;
  height: 4em;
  animation: block1 4s infinite ease-in;
  z-index: 2;
  
}

@keyframes block1 {

0% {
  transform: translate(0vw, 20vh);
}
25%{
  transform: translate(0vw,90vh)
}
50%{
  transform: translate(50vw,90vh)
}
75% {
  transform: translate(50vw,20vh)

}
100%{
  transform: translate(0vw,20vh)
}
}

/* Typing animation code ispired by https://codepen.io/denic/pen/GRoOxbM */
.typanimation {
width: 27ch;
animation: typing 2s steps(22), blink .5s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
border-right: 3px solid #FCA311;
font-size: 2.5em;
margin-bottom: 0.5em;

}

@keyframes typing {
from {
width: 0
}
}

@keyframes blink {
50% {
border-color: transparent
}
}



/* footer */
footer{
  bottom:0;
  width: 100%;
  background-color: #E5E5E5;
  padding: 15px 0;
  display: inline-block;
}
.foot{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.copyright{
  margin-top: 15px;
}
/*Code Icon styling inspired by https://codepen.io/ameyraut/pen/yfzog */
footer .icons .fab {
width: 50px;
height: 50px;
line-height: 50px;
float: right;
color: #5D576B;
font-size: 30px;
margin-left: 10px;

}

.icons .fab:hover,
.icons .fab:focus,
.icons .fab:active{
color: #FCA311;
font-size: 40px;
transition: 0.2s ease-in-out;

}




/* Portfolio page */
.portfolio{
padding: 120px 10px 100px 10px;
}


.port-text{
color: white;
text-align: left;
padding: 0px 10px;
}
.port-text p{
font-size: 22px;
}
.port-text h2{
font-size: 36px;
}




.card-container {
border-radius: 10px;
display: grid;
padding: 1rem;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
grid-gap: 3.5rem;
}
.card {
display: grid;

}
.card .button {
align-self: end;
}







/* Simple Card styles for prettying */



* {
box-sizing: border-box;
}
.card {
background-color: white;
}
.card__title {
font-size: 2rem;
padding: .5rem;
}
.card__description {
padding: .5rem;
line-height: 1.6em;
}
.button {
display: block;
background-color:#FCA311;
padding: 10px 20px;
color: white;
text-decoration: none;
text-align: center;
}
img {
max-width: 100%;
}



/* contact page */

/*--PAGE LAYOUT----*/

.contact{
color: white;
font-size: 22px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 150px 30px 0px 30px;

}


/*--FONT STYLING----*/


.contact-section h2 {
font-size: 26px;
color: rgb(13, 72, 235);
font-weight: 400;
letter-spacing: 1px;
margin-bottom: 20px;
}

.contact-message {
background-color: rgb(13, 72, 235);
color: white;
font-weight: 600;
letter-spacing: 2px;
padding: 5px 10px 5px;
border-radius: 4px;
margin-right: 5px;
font-size: 1rem;
}


/*--CONTACT FORM----*/
.contact-form-text {
display: block;
width: 60%;
box-sizing: border-box;
font-size: 20px;
border-radius: 6px;
margin-left: auto;
margin-right: auto;
margin-bottom: 12px;
border: 2px solid black;
color: #0a50e6;
padding: 10px 10px;
outline: none;
}


/*--SEND BUTTON----*/
/*--CODE FROM https://codepen.io/bobbykorec/pen/qOGbyr----*/
.send-button {
display: block;
margin: 0 auto;
padding: 15px 30px;
box-sizing: border-box;
border: 2px solid;
border-radius: 0.5rem;
margin-top: 10px;
background-color: rgb(255, 255, 255);
letter-spacing: 1px;
color: rgb(0, 0, 0);
font-size: 20px;
font-weight: 800;
margin-bottom: 100px;
}





/* CV Page*/
.resume {
color: white;
display: grid;
width  :80%;
height: auto;
grid-template-columns: 2fr 1fr;
grid-template-rows   : 1fr 1fr 1fr 1fr;
grid-gap             : 2px;
grid-template-areas  :
  "name  contact"
  "about  work"
  "interests interests"
  "skills skills";
  overflow: hidden;
  font-size: 14px;
}

.grid-area {
padding: 1em 1em 1em 1em;
border : 1px white solid;
}

.name {
grid-area: name;
font-size: 20px;
}

.Contact {
grid-area: contact;
font-size: 20px;
}

.about {
grid-area: about;
font-size: 20px;
}

.work {
grid-area: work;
font-size: 20px;
}

.skills {
grid-area: skills;
width: 100%;
font-size: 20px;
}
.skills ul li {
grid-area: skills;
display: inline-flex !important;
width: 48%;
margin: 5px 0px 5px
}

.interests {
grid-area: interests;

}
.interests p {
margin-left: 20px;
font-size: 20px;

}
.icons div {
display:inline-flex;
font-size: 55px;
padding: 20px;
margin-top: 20px;


}



.wrapper {
display        : flex;
flex-direction : row;
justify-content: space-evenly;
margin-top: 100px;
margin-bottom: 150px;
}
  

/* site report */

.first.site-report {
  margin-top: 100px !important;
  
}


.site-report{
  color: white;
  margin: 0px 10px 100px 10px;

}

