*{
    margin: 0;
    padding:0
}

body{
    background-color: #FFFDE2;
}

/* menu navigation */
header{position: fixed;
    widows: 100%;
    background-color:#D7BCE8 ;

}
.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  .card {
    display: grid;
  }
  .card .button {
    align-self: end;
  }
  
  
  
  
  
  
  
  /* Simple Card styles for prettying */
  
  
  
  * {
    box-sizing: border-box;
  }
  .card {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
  }
  .card__title {
    font-size: 2rem;
    padding: .5rem;
  }
  .card__description {
    padding: .5rem;
    line-height: 1.6em;
  }
  .button {
    display: block;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
  }
  img {
    max-width: 100%;
  }
  
  